* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    background-color: var(--background-blue);
}

:root {
    --primary-blue:rgb(145, 204, 207);
    --secondary-blue:rgb(195, 210, 229);
    --background-blue:rgb(244, 250, 248);
    --dark-blue:rgb(67, 105, 152);
}

.carga {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--dark-blue);

    z-index: 1;
    opacity: 1;
    transition: opacity 0.5s;
}

.carga > h2 {
    margin: 50px;
    font-family: "gyst-variable",sans-serif;
    font-size: 1.5em;
    color: white;
}

.loader {
    background-color: transparent;
    color: white;
    font-size: 7px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    animation: mulShdSpin 1.3s infinite linear;
    transform: translateZ(0);
}
  
@keyframes mulShdSpin {
    0%,
    100% {
        box-shadow: 0 -3em 0 0.2em, 
        2em -2em 0 0em, 3em 0 0 -1em, 
        2em 2em 0 -1em, 0 3em 0 -1em, 
        -2em 2em 0 -1em, -3em 0 0 -1em, 
        -2em -2em 0 0;
    }
    12.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 
        3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, 
        -2em 2em 0 -1em, -3em 0 0 -1em, 
        -2em -2em 0 -1em;
    }
    25% {
        box-shadow: 0 -3em 0 -0.5em, 
        2em -2em 0 0, 3em 0 0 0.2em, 
        2em 2em 0 0, 0 3em 0 -1em, 
        -2em 2em 0 -1em, -3em 0 0 -1em, 
        -2em -2em 0 -1em;
    }
    37.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
        3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, 
        -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
        3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, 
        -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
        3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, 
        -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
        box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 
        3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, 
        -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
        box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 
        3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, 
        -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
}

h1 {
    padding: 170px 0 0 50px;
    line-height: 0.8;

    font-family: "gyst-variable",sans-serif;
    font-size: 25em;

    background-color: transparent;
    color: var(--primary-blue);
}

h2 {
    margin: 0 0 0 50px;
    padding: 20px 10px;

    font-family: "gyst-variable",sans-serif;
    font-size: 4em;

    color: var(--dark-blue);
    background-color: transparent;
}

p {
    font-family: "myriad-bengali", sans-serif;
}

i {
    background-color: var(--dark-blue);
    color: white;
}

i:hover {
    color: var(--primary-blue);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 100vh;

    background-image: url(../img/background.jpg);
}

header > div:first-of-type {
    display: flex;
    align-items: center;
    flex-direction: column;
    
    margin: 50px;
    width: 50%;

    background-color: transparent;
}

header > div > p {
    text-align: center;
    font-size: 1.2em;
    width: 75%;

    background-color: transparent;
}

header > div > a {
    background-color: transparent;
}

button {
    height: 100px;
    width: 300px;

    color: var(--dark-blue);
    border: 0;
    background-color: transparent;

    font-family: "gyst-variable",sans-serif;
    font-size: 2em;
} 

button:hover {
    color: var(--primary-blue);
}

#menu {
    top: 0;
    width: 100%;
    height: 6em;
    z-index: 1;
    display: block;
    position: fixed;
}

#menu > ul {
    display: flex;
    justify-content: flex-end;

    position: fixed;

    list-style-type: none;

    top: 0;
    width: 100%;

    background-color: var(--dark-blue);
}

#menu > ul > li > a, .dropbtn {
    display: block;

    text-decoration: none;
    font-size: 2em;
    font-family: "gyst-variable",sans-serif;

    padding: 24px 26px;
   
    color: white;
    background-color: var(--dark-blue);
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color:white;
    background-color: var(--dark-blue);
    padding: 20px 30px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: "gyst-variable",sans-serif;
    font-size: 1.2em;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#menu > ul > li > a:hover, .dropdown-content a:hover {
    color: var(--primary-blue);
}

#menu > i, 
#menu > ul > li:last-child {
    display: none;
    cursor: pointer;
}

.icons {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 20px;

    background-color: var(--dark-blue);
}

.icons > li > a {
    padding: 10px;
    background-color: var(--dark-blue);
}

.icons > li > a > i {
    font-size: 1.5em;
}

#search {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    margin: 0;
    width: auto;

    background-color: var(--dark-blue);
}

#search > form {
    background-color: transparent;
}

#search > form > input {
    border-radius: 50px;
    
    font-family: "myriad-bengali", sans-serif;
    font-size: 0.9em;
}

.know {
    background-color: var(--secondary-blue);
} 

.container {
    margin: 0;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0;
}

#info {
    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 100px;
}

#info > p {
    text-align: center;
    font-size: 1.2em;
}

.marquee {
    display: flex;
    align-items: center;

    position: relative;
    max-width: 100%;
    height: 100px;
    overflow-x: hidden;

    background-color: var(--secondary-blue);
}
  
.track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 32s linear infinite;
}
  
  @keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}

.content > ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 50px;
    margin: 0;

    background-color: var(--secondary-blue);
    color: var(--dark-blue);

    font-family: "gyst-variable",sans-serif;
    font-size: 2em;
}

.content > ul > li {
    background-color: var(--secondary-blue);
}

footer {
    position: relative;
    z-index: 1;
    height: 200px;
    background-color: var(--dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.rrss {
    background: transparent;
    text-align: center;
}

.rrss > a {
    background: transparent;
    display: contents;
}

.rrss > a > i {
    background: transparent;
    font-size: 3em;
    color: white;
    margin: 0 20px;
}

[class*="col"] {
    background-color: transparent;
    
    margin: 0;
    padding: 0;
}

/* MEDIA QUERIES */
/* TABLET */
@media screen and (max-width: 820px) {

    h1 {
        padding: 170px 0 0 0;    
    }
    
    h2 {
        font-size: 3em;
    }

    p {
        font-size: 1.25em;
    }

    a {
        font-size: 1.4em;
    }

    header {
        flex-direction: column;
        align-items: center;
        align-content: flex-start;
    }

    header > div:first-of-type {
        width: 100%;
        padding: 50px;
    }

    button {
        font-size: 1.5em;
    }

    #menu {
        height: 5em;
        background-color: var(--dark-blue);
    }

    #menu > i {
        display: flex;
        justify-content: flex-start;
        margin: 16px;
        background: transparent;

        position: relative;
        top: 1em;
    }

    #menu > ul {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100%;
        z-index: 1;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        transition-duration: 1s;
        opacity: 0.9;
    }

    .dropdown:hover .dropdown-content {
        display: none;
    }
      
    #menu > ul > li:last-child {
        display: block;
        position: absolute;
        right: 1em;
        top: 0.8em;
        line-height: 0;
        margin: 16px;
    }

    #menu > ul > li:last-child > i {
        font-size: 1.5em;
        cursor: pointer;
    }

    #menu > ul > li > a {
        color: white;
        font-size: 2em;
    }

    .icons {
        gap: 50px;
    }

    #search {
        display: none;
    }
    
    .know {
        margin-top: 500px;
    }

    .row {
        flex-direction: column;
    }

    #info {
        padding: 50px;
        width: 100%;
    }

    .marquee {
        height: 80px;
    }

    .content > ul {
        font-size: 1.5em;
    }

    .rrss > a > i {
        font-size: 2em;
    }
    
}

/* MÓVIL */
@media (max-width: 480px) {

    h1 {
        padding: 140px 0 0 0;    
        font-size: 15em;    
    }

    h2 {
        margin: 0 0 0 20px;
        font-size: 2em;
    }
    
    header > div:first-of-type {
        padding: 0;
    }
    
    #menu > ul > li > a {
        font-size: 1.5em;
    }

    .know {
        margin: 0;
    }

    .content > ul {
        font-size: 1.2em;
    }

    .rrss > a > i {
        font-size: 1.5em;
    }

}


/* PRODUCTOS */
#products {
    height: auto;
}

#products > .portada {
    margin: 100px;
}

.portada > h1 {
    padding-top: 140px;
    font-size: 10em;
    z-index: 1;
}

#video {
    position: absolute;
    right: 0;
    width: 100%;
    height: auto;
    top: -7em;
    z-index: 0;
}

#menu-products > ul > li:first-child {
    position: fixed;
    left: 0;

    font-size: 1em;
    font-weight: bolder;
}

#menu-products > ul > li:first-child > a {
    color: var(--primary-blue);
}

#menu-products {
    top: 0;
    width: 100%;
    height: 6em;
    z-index: 1;
    display: block;
    position: fixed;
}

#menu-products > ul {
    display: flex;
    justify-content: flex-end;

    position: fixed;

    list-style-type: none;

    top: 0;
    width: 100%;

    background-color: var(--dark-blue);
}

#menu-products > ul > li > a, .dropbtn {
    display: block;

    text-decoration: none;
    font-size: 2em;
    font-family: "gyst-variable",sans-serif;

    padding: 24px 26px;
   
    color: white;
    background-color: var(--dark-blue);
}

#menu-products > ul > li > a:hover, .dropdown-content a:hover {
    color: var(--primary-blue);
}

#menu-products > i, 
#menu-products > ul > li:last-child {
    display: none;
    cursor: pointer;
}

.popular {
    position: relative;
    z-index: 1;
    background-color: var(--secondary-blue);
}

.galeria {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    z-index: 1;
    background-color: var(--background-blue);
}

.card {
    width: 390px;
    margin: 20px 80px;
    border: none;

    background-color: transparent;
}

.card > img:hover {
    background-color: var(--primary-blue);
    opacity: 0.5;
    transition: ease-in-out .5s;
}

.card > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card > div > h5 {
    font-family: "gyst-variable",sans-serif;
    color: var(--dark-blue);
}

.card > div > a {
    font-family: "gyst-variable",sans-serif;
    color: white;
    background-color: var(--dark-blue);
    border: none;
}

.card > div > a:hover {
    color: var(--dark-blue);
    background-color: var(--secondary-blue);
}

.marcas {
    position: relative;
    z-index: 1;
    background-color: var(--secondary-blue);
}

.galeria-marcas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    z-index: 1;
    background-color: var(--background-blue);
}

.galeria-marcas > .card {
    display: flex;
    align-items: center;
    width: 360px;
    margin: 10px;
}
.galeria-marcas > .card:hover {
    background-color: white;
    opacity: 0.5;
    transition: ease-in-out .5s;
}

.galeria-marcas > .card > h2 {
    display: none;
    margin: 0;
    margin-top: 115px;
}

.galeria-marcas > .card:hover h2 {
    display: flex;
    position: absolute;
    z-index: 1;
}

.marca {
    position: relative;
    z-index: 1;
    display: none;
}

.marca > .row {
    background-color: var(--dark-blue);
    height: 600px;
}

.marca > .row > div > img {
    width: 50%;
    position: absolute;
    top: 0;
}

.marca > .row > #info {
    position: absolute;
    right: 8em;
    padding: 0;

    background-color: transparent;
}

.marca > .row > #info > p,
.marca > .row > #info > a {
    color: white;   
    background-color: transparent;
}

.marca > .row > #info > a > button {
    color: white;   
}

.marca > .row > #info > a > button:hover {
    color: var(--primary-blue);   
}

/* MEDIA QUERIES */
/* TABLET */
@media screen and (max-width: 820px) {


    header {
        flex-direction: column;
        align-items: center;
        align-content: flex-start;
    }

    header > div:first-of-type {
        width: 100%;
        padding: 50px;
    }

    button {
        font-size: 1.5em;
    }

    #menu-products {
        height: 5em;
        background-color: var(--dark-blue);
    }

    #menu-products > i {
        display: flex;
        justify-content: flex-start;
        margin: 16px;
        background: transparent;

        position: relative;
        top: 1em;
    }

    #menu-products > ul {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100%;
        z-index: 1;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        transition-duration: 1s;
        opacity: 0.9;
    }

    .dropdown:hover .dropdown-content {
        display: none;
    }
      
    #menu-products > ul > li:first-of-type {
        display: none;
    }

    #menu-products > ul > li:last-child {
        display: block;
        position: absolute;
        right: 1em;
        top: 0.8em;
        line-height: 0;
        margin: 16px;
    }

    #menu-products > ul > li:last-child > i {
        font-size: 1.5em;
        cursor: pointer;
    }

    #menu-products > ul > li > a {
        color: white;
        font-size: 2em;
    }

    #video {
        position: absolute;
        height: 75vh;
        width: auto;
        top: -7em;
    }

    .popular {
        z-index: 0;
    }

    .galeria {
        z-index: 0;
    }

    .card {
        width: 330px;
        margin: 20px 20px;
    }

    .galeria-marcas {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    .marca > .row {
        flex-direction: column-reverse;
        flex-wrap: wrap;
        height: 800px;
    }

    .marca > .row > #info {
        padding: 20px;
        right: 0;
        background-color: var(--dark-blue);
    }

    .marca > .row > #info > p {
        width: 75%;
        margin: 0;
    }

    .marca > .row > #info > a > button {
        height: 80px;
    }

    .marca > .row > div > img {
        width: 100%;
        left: 0; 
    }
}

    


/* MÓVIL */
@media (max-width: 480px) {

    .portada {
        height: 40vh;
    }

    .portada > h1 {
        padding: 140px 0 0 25px;    
        font-size: 5em;    
    }

    #video {
        height: 100%;
    }
    
    #menu-products > ul > li > a {
        font-size: 1.5em;
    }

    .marca > .row {
        height: 700px;
    }
}

/* PRODUCTO */
.popular > h2 {
    font-size: 2em;
}

#galeria-producto {
    position: relative;
    top: 2em;
    width: 100%;
    align-items: baseline;
}

#galeria-producto > h2 {
    position: relative;
    font-size: 3em;
}

._flecha {
    margin-top: 670px;
    background-color: transparent;
}

._circulos {
    background-color: transparent;
}

._galeria-producto {
    width: 100%;
}

._compra {
    background-color: transparent;
    align-items: flex;
}

._detalles {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px;
    width: 100%;

    background-color: transparent;
}

._detalles > h2 {
    margin: 0;
    padding: 0;
}

._detalles > p, ._detalles > a {
    background-color: transparent;
}

._detalles > a {
    font-size: 1em;
    background-color: var(--dark-blue);
    padding: 20px;
}

._detalles > a > button {
    width: 100%;
    height: auto;
    color: white;
}